body {
  background-color: #C6E2FF;
  margin: 0 20px;
  text-align: center;
}

ul {
  border:5px 20px;
  color:#19317A;
}

ul
{
    list-style-type: none;
}

h2 {
  color:#333399;
}

.header:hover {
	color: transparent;
	text-shadow: 0 0 3px black;
}

header {
	color:#CC7A7A;
}
