body {
  background-color: #C6E2FF;
  margin: 0 20px;
  text-align: center;
}

ul {
  border:5px 20px;
  color:#19317A;
}

ul
{
    list-style-type: none;
}

h2 {
  color:#333399;
}

h1{

background: #36c;
background: 
linear-gradient(115deg, transparent 75%, rgba(255,255,255,.8) 75%) 0 0,
linear-gradient(245deg, transparent 75%, rgba(255,255,255,.8) 75%) 0 0,
linear-gradient(115deg, transparent 75%, rgba(255,255,255,.8) 75%) 7px -15px,
linear-gradient(245deg, transparent 75%, rgba(255,255,255,.8) 75%) 7px -15px,
#36c;
background-size: 15px 30px
}

h1 {
	color:#CC7A7A;
}
